:root {
  --mainText: #383232; /* sortof black-brown color */
  --secondaryText: #d8a059;

  --mainColor: #eaeaea;
  --secondaryColor: #ffff;

  --borderColor: #c1c1c1;

  --s2backgroundColor: #e0c8b3;
  --buttonColor: black;

  --mainFont: "Russo One", sans-serif;

  --footerColor: #f4f5e6;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  padding: 0px;
  margin: 0px;
  color: var(--mainText);
}

/* Careful with this, might mess up veiwage later on */
/* For now, it solves the problem of overflow to the right
when resizing the window down. */
body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--mainText);
  font-family: "Russo One", sans-serif;
}

li,
span,
label,
input,
textarea {
  color: var(--secondaryText);
  font-family: "Roboto Mono", monospace;
}

p {
  color: var(--mainText);
  font-family: "Roboto Mono", monospace;
}

a {
  text-decoration: none;
  font-family: "Roboto Mono", monospace;
  color: var(--secondaryText);
}
/* 
a:hover {
  -webkit-box-shadow: 0px 2px 8px -1px rgba(0, 0, 0, 0.76);
  -moz-box-shadow: 0px 2px 8px -1px rgba(0, 0, 0, 0.76);
  box-shadow: 0px 2px 8px -1px rgba(0, 0, 0, 0.76);
} */

button {
  color: var(--buttonColor);
  cursor: pointer;
}

.my-body-wrapper {
  min-height: 100%;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  color: var(--mainText);
}

#s1 {
  margin-left: auto;
  margin-right: auto;
}

/* .main-container {
  width: 100%;
  margin: auto;
} */

.navigation-LOGO {
  margin: auto;
  padding-top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  /* grid-template-columns: 0.5fr 3fr;
  grid-template-areas: 
    "LOGO NAVIGATION"; */
}

.myLOGO {
  /* float: left; */
  /* background-color: green; */
  border-bottom: 10px;
  border-color: var(--borderColor);
  /* comment this box-shadow out later on */
  /* -webkit-box-shadow: 0px 2px 8px -1px rgba(0, 0, 0, 0.76);
  -moz-box-shadow: 0px 2px 8px -1px rgba(0, 0, 0, 0.76);
  box-shadow: 0px 2px 8px -1px rgba(0, 0, 0, 0.76); */
  margin: 30px;
  padding: 0;
  text-align: center;
}

#imageID {
  width: 250px;
  height: 50px;
}

.myNavbar {
  text-align: center;
  /* float: right; */
  margin-top: 10px;
  padding-left: 0px;
}

.myNavbar li {
  /* background-color: blue; */
  display: inline-block;
  margin: 10px;
  padding: 10px;
}

.myNavbar li:hover {
  background-color: #2f2c2f;
  border: 1px solid #5c5a57;
  border-radius: 50%;
}

.image-shop-now-container {
  display: flex;
  justify-content: space-between;
  background-color: var(--s2backgroundColor);
  margin-top: 150px;
}

.left-column {
  margin: 35px;
}

.right-column {
  display: grid;
  margin: 20px;
  margin-bottom: 35px;
}

.salesParagraph1 {
  font-family: "Calligraffitti", cursive;
  font-size: 50px;
  /* width: ;
  height: ; */
  display: grid;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.salesButton {
  /* background-color: black; */
  color: #d8a059;
  font-family: var(--mainFont);
  font-size: 20px;
  text-align: center;
}

.button {
  background-color: white;
  border: 2px solid;
  border-color: black;
  font-size: 40px;
  border-radius: 7px;
  box-shadow: -4px 0px 12px -3px rgba(0, 0, 0, 0.93);
  -webkit-box-shadow: -4px 0px 12px -3px rgba(0, 0, 0, 0.93);
  -moz-box-shadow: -4px 0px 12px -3px rgba(0, 0, 0, 0.93);
  cursor: pointer;
}

.button:hover {
  background-color: black;
  border-color: white;
}

.salesDetails {
  font-family: "Calligraffitti", cursive;
  font-size: 30px;
  background-color: white;
  padding-top: 50px;
  border: 10px solid #5c5a57;
}

.featured-Items {
  /* background-color: green; */
  /* margin-top: 60px; */
  padding-top: 60px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 150px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.cloth-items {
  margin: 20px;
  /* width: 350px;
  height: 450px; */
  width: auto;
  height: auto;
  box-shadow: -4px 0px 12px -3px rgba(0, 0, 0, 0.93);
  -webkit-box-shadow: -4px 0px 12px -3px rgba(0, 0, 0, 0.93);
  -moz-box-shadow: -4px 0px 12px -3px rgba(0, 0, 0, 0.93);
  border-radius: 10px;
  text-align: center;
}

.cloth-items img {
  width: 100%;
  height: 100%;
  display: block;
  margin: auto;
  border-radius: 10px;
}

.items-link:hover {
  text-decoration: none;
  background-color: #2f2c2f;
  border: 1px solid #5c5a57;
  border-radius: 7px;
}

/* Update On Hover Function for Items */
/* .Shirts:hover {
  content: url('images/shirts1.jpg')
} */

/* FOOTER */
.myfooter {
  /* background: var(--footerColor); */
  /* margin: none; */
  background: #2f2c2f;
  color: white;
  height: 250px;
  position: relative;
  width: 100%;
}

.myfooter .footer-bottom {
  background: #5c5b5c;
  color: var(--secondaryText);
  height: 40px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-top: 20px;
}

.myfooter .footer-content {
  /* border: 1px solid red; */
  height: 210px;
  width: 100%;
  position: absolute;
}

.product-category {
  text-align: center;
  margin: auto;
  padding: auto;
  margin-bottom: 50px;
}

.products-wrapper {
  background-color: #f6f3f3;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.product-container {
  width: 250px;
  margin: 20px;
}

.Product-Image {
  width: 250px;
  height: 300px;
  background-color: red;
}

.Product-Image img {
  width: 100%;
  height: 100%;
}

.add-to-cart-button {
  float: right;
  text-align: center;
  color: #d8a059;
  font-family: var(--mainFont);
  font-size: 15px;
  text-align: center;
  cursor: pointer;
}

.add-to-cart-button:hover {
  background-color: rgb(5, 5, 5);
  border: 2px solid rgb(126, 129, 129);
}

/* PRODUCT PAGE */
/* ##################################################################
################################################################## */
.product-page-container {
  margin-bottom: 60px;
  background-color: rgb(203, 212, 230);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "IMAGE PRICE-ADDCART"
    "PRODUCT-DESCRIPTION PRODUCT-DESCRIPTION";
}

.product-page-image {
  background-color: darkgreen;
  grid-area: IMAGE;
  width: 60%;
  height: 60%;
  /* margin: 50px;
  padding: 100px; */
}

.product-page-image img {
  margin-left: auto;
  margin-top: 75px;
  width: 100%;
}

.price-addCart {
  background-color: darkorchid;
  grid-area: PRICE-ADDCART;
}

.priceTag {
  background-color: darksalmon;
  height: 50%;
  text-align: center;
  /* padding-top: 300px; */
  font-size: 30px;
  /* margin: auto;
  display: block;
  justify-content: center;
  padding: 5px; */
  position: relative;
}

/* used to center the price tag */
.priceTag p {
  /* position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto; */
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.addCart {
  text-align: center;
  background-color: darkviolet;
  margin: auto;
}

.addCart .page-addCart {
  font-size: 25px;
}

.product-description {
  text-align: center;
  background-color: deeppink;
  grid-area: PRODUCT-DESCRIPTION;
  font-size: 30px;
  margin-top: 30px;
}

/* ##################################################################
################################################################## */
/* PRODUCT PAGE END*/

/* MEDIA QUERIES FOR DIFFERENT SCREEN SIZES */
@media (max-width: 1280px) {
  /* CSS */
  .image-shop-now-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "Image"
      "OtherInformation";
  }

  .left-column {
    grid-area: Image;
  }

  .left-column img {
    width: 100%;
  }

  .right-column {
    grid-area: OtherInformation;
  }

  .salesParagraph1 {
    margin-bottom: 10px;
  }

  .salesButton {
    margin-bottom: 10px;
  }

  .salesDetails {
    margin-top: 20px;
  }
}

@media (max-width: 780px) {
  /* CSS */
  .navigation-LOGO {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-columns: 0.5fr 3fr; */
    grid-template-areas:
      "LOGO"
      "NAVIGATION";
  }

  .myLOGO {
    grid-area: LOGO;
  }

  .myNavbar {
    grid-area: NAVIGATION;
  }

  .featured-Items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "first-image second-image"
      "third-image fourth-image";
  }

  .Shirts {
    grid-area: first-image;
  }

  .Sweats {
    grid-area: second-image;
  }

  .Coats {
    grid-area: third-image;
  }

  .Jeans {
    grid-area: fourth-image;
  }

  /* Change orientation of product page on resizing */
  .product-page-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "IMAGE" 
      "PRICE-ADDCART"
      "PRODUCT-DESCRIPTION";
  }
}

@media (max-width: 540px) {
  /* CSS */
  .featured-Items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "first-image"
      "second-image"
      "third-image"
      "fourth-image";
  }

  .cloth-items {
    width: 250px;
    height: 250px;
    margin-bottom: 40px;
  }

  .Shirts {
    grid-area: first-image;
  }

  .Sweats {
    grid-area: second-image;
  }

  .Coats {
    grid-area: third-image;
  }

  .Jeans {
    grid-area: fourth-image;
  }
}
