{% extends 'product_category/base.html' %}
{% load static %}

<!-- this is where we list all the jeans in our database -->
{% block content %}
  <div class="product-category"> <p>Jeans</p></div>
  <div class="products-wrapper">
    {% for product in object %}
      <div class="product-container">
        <div class="Product-Image">
          <img src="{{product.image.url}}" alt="">
        </div>
        <p>{{ product.name }}</p>
        <div class="price-cart">
          <span>Price: ${{ product.price }}</span> 
          <input class="add-to-cart-button" type="submit" value="Add To Cart">
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}